.topic-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

@media only screen and (max-width: 500px) {
    .topic-container {
        grid-template-columns: repeat(1, 1fr);
    }
}